/* colores de los estados de las iniciativas */
.estado-abierta {
    color: #198754;
    font-weight: 700;
}

.estado-revision {
    color: #fd7e14;
    font-weight: 700;
}

.estado-progreso {
    color: #0dcaf0;
    font-weight: 700;
}

.estado-abierta span,
.estado-revision span,
.estado-progreso span {
    margin-right: 4px;
}